{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un lieu</h1>
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button>Ajouter</button>
    {{ form_end(lieuForm) }}
{% endblock %}

{% block title %}
    Ajouter un lieu {{ parent() }}
{% endblock %}

