{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button>Ajouter</button>
    {{ form_end(lieuForm) }}
{% endblock %}

{% block title %}

{% endblock %}

