{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(formForgotPassword) }}

    {{ form_widget(formForgotPassword) }}

    <button type="submit" class="btn">Enregistrer</button>
    {{ form_end(formForgotPassword) }}
{% endblock %}

{% block title %}
    Mot de passe oublié
{% endblock %}

