{% extends 'base.html.twig' %}

{% block title %}Inscription d'utilisateurs{% endblock %}

{% block body %}
    <h1>Inscription d'utilisateurs</h1>

    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}

        <button type="submit" class="btn">Valider</button>
    {{ form_end(registrationForm) }}
{% endblock %}
