@charset "UTF-8";

/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap'); */

body
{
    background-color: lightgrey;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}



html {
    margin: 0;
    padding: 0;
}

