@charset "UTF-8";

/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap'); */

/* note Dorothée: */
body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.container {
    display: flex;
}

.profil {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.profil_form {
    display: flex;
    flex-direction: row;

}

.profil_photo {
    margin-right: 20px;
}

main {
    font-family: 'Roboto', sans-serif;
    max-width: 1000px;
    margin: auto; /* cela centre le corps du texte sur la page */
    padding: 5px;
    min-height: 60vh; /* cela permet de dire quelle est la taille minimum du corps de texte, cela fait baisser le pied de page */
}

/* vérifier cela */
a {
    color: inherit;
    text-decoration: none;
}

/* vérifier cela */
a:hover {
    color: #BC956B;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightsteelblue;
    padding: 1rem 0; /* ajout Dorothée */
}

header img {
    float: left;
    width: 20%;
}

header h1 {
    position: relative;
    font-family: 'Abril Fatface', cursive;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

html {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

label {
    display: inline-flex;
    flex-direction: column;
}

input,
textarea,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 200px;
    max-width: 50%;
}

input.submit {
    text-decoration: underline;
    background: transparent;
    color: link; /* à changer */
    border-width: 0;
}

#sortie-details section {
    margin-top: 30px;
}

#tableau-participants thead {
    background-color: #aaaaaa;
    color: white;
    font-weight: bold;
}

#tableau-participants thead td:first-of-type {
    border-right: 1px solid #dddddd;
}

#tableau-participants tr:nth-child(2n) {
    background-color: #dddddd;
}

#tableau-participants td:first-of-type {
    padding: 0 10px;
}

#tableau-participants td:nth-of-type(2) {
    padding: 0 5px;
}

#tableau-participants td {
    border: 1px solid #aaaaaa;
}





