{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(campusModifForm) }}
    {{ form_widget(campusModifForm) }}

    <button type="submit" class="btn-secondary btn-block">Modifier</button>
    {{ form_end(campusModifForm) }}
{% endblock %}

{% block title %}
    Modification d'un Campus
{% endblock %}

