{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

    {{ form_start(desactiverForm) }}

    {{ form_widget(desactiverForm) }}

    <button type="submit" class="btn">Désactiver les accès du compte.</button>
    {{ form_end(desactiverForm) }}

    {% elseif is_granted('ROLE_DESACTIVATE') %}

        <h3>Votre compte a été désactivé.</h3>

        <p>Merci de contacter l'administrateur du site à l'adresse mail suivante : admin@admin.com</p>

    {% endif %}



{% endblock %}

{% block title %}
    Désactivation d'un compte utilisateur
{% endblock %}

