{% extends 'base.html.twig' %}

{% block body %}
<div>
    {% for campus in listeCampus %}
    <ul>
        <li>{{ campus.nom }}</li>
    </ul>
    {% endfor %}
</div>
    {{ form_start(campusForm) }}
    {{ form_widget(campusForm) }}
    <button>Ajouter</button>
    <button>Modifier</button>
    <button>Supprimer</button>
    {{ form_end(campusForm) }}
{% endblock %}

{% block title %}
 Gestion des Campus !
{% endblock %}

