{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(villeModifForm) }}
    {{ form_widget(villeModifForm) }}

    <button type="submit" class="btn-secondary btn-block">Modifier</button>
    {{ form_end(villeModifForm) }}
{% endblock %}

{% block title %}
    Modification d'une ville
{% endblock %}

