{% extends 'base.html.twig' %}

{% block title %}
   Liste des sorties | {{ parent() }}
{% endblock %}

{% block body %}
   <section class="sorties-list">
      <!-- :affichage des sorties-->

      {% for sortie in sorties %}
      <article>
         <a href="{{ path('sortie_details', {'id':sortie.id}) }}"
            title="Details d'une nouvelle sortie | {{ sortie.idLieu|length }}lieu">
         </a>
      </article>
      {% endfor %}

   </section>
{% endblock %}

