{% extends 'base.html.twig' %}

{% block body %}
    <h2>Oups !! Une erreur est survenue...</h2>
    <p><a href="{{ path('sortie_list') }}" title="retour à la page d'accueil">Cliquez-ici pour retourner à la page d'accueil !</a></p>
{% endblock %}

{% block title %}
    Erreur
{% endblock %}

