<nav>
    <ul>
        <li><a href="{{ path("app_login") }}" title="Villes">Villes</a></li>
        <li><a href="#" title="Campus">Campus</a></li>
        <li><a href="#" title="Accueil">Accueil</a></li>
        <li><a href="#" title="Mon profil">Mon profil</a></li>
        <li><a href="#" title="Se déconnecter">Se déconnecter</a></li>
    </ul>
</nav>