<nav>
    <ul>
        {% if app.user %}
            <li><a href="{{ path('sortie_list') }}" title="Accueil">Accueil</a></li>
            <li><a href="{{ path('app_profil', {'id': app.user.id}) }}" title="Mon profil">Mon profil</a></li>


            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin_index') }}" title="administration">Administration</a></li>
            {% endif %}

            <li><a href="{{ path("app_logout") }}" title="Se déconnecter">Se déconnecter</a></li>

        {% endif %}
    </ul>
</nav>